@import '../../../styles/theme';

.link {
    display: inline-flex;
    align-items: center;
    height: $toolbar-link-height;
    padding: 0 $space-3;
    border-radius: $radius-md;
    border: none;
    background: transparent;
    font: inherit;
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 0.92rem;
    line-height: 1;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    appearance: none;
    transition: background 160ms ease, box-shadow 160ms ease;
}

.link:hover {
    background: $hover-bg;
}

.link:focus-visible {
    outline: 2px solid $focus-ring;
    outline-offset: 2px;
}

.active {
    box-shadow: inset 0 -2px 0 currentColor;
}


