.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    opacity: 1;
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.toolbarHidden {
    opacity: 0;
    pointer-events: none;
}
