.jfSvgIcon {
    display: inline-flex;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.jfSvgIcon > svg {
    width: 100%;
    height: 100%;
    display: block;
    fill: currentColor;
}

.MuiIconButton-root .jfSvgIcon {
    /* ~30% bigger across most icon buttons */
    font-size: 1.3em;
}

.MuiListItemIcon-root .jfSvgIcon {
    font-size: 1.3em;
}

/* Play overlays should be larger than standard action icons */
.homePlayOverlay .jfSvgIcon,
.episodeThumbPlay .jfSvgIcon {
    font-size: 1.9em;
}

.skinHeader .jfSvgIcon {
    font-size: 24px;
}

.navMenuOptionIcon.jfSvgIcon {
    font-size: 24px;
}

.jfIcon--rotate90 {
    transform: rotate(90deg);
}

.jfIcon--rotate180 {
    transform: rotate(180deg);
}

.jfIcon--rotate270 {
    transform: rotate(270deg);
}


