@use '../../../../styles/theme' as *;

.page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.toolbar {
    padding: $space-3 $space-4;
}

.content {
    flex: 1;
    padding-bottom: $space-6;
}

.paddedContent {
    padding: 0 $space-4;
}
