.root {
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
    text-decoration: none;
    color: inherit;
}

.image {
    position: relative;
    width: 100%;
    aspect-ratio: 2/3;
    overflow: hidden;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.title {
    font-weight: 700;
}


