.root {
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
    text-decoration: none;
    color: inherit;
}

.image {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.img {
    width: 100%;
    display: block;
}

.title {
    font-weight: 700;
}


