.root {
    display: inline-flex;
    flex-direction: column;
    gap: 0.5rem;
    text-decoration: none;
    color: inherit;
}

.image {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.title {
    font-weight: 700;
}


